=link_to tenant.resident.person,{class: tenant.checkoutdate<Date.today ? "list-group-item list-group-item-danger" : (tenant.checkoutdate-Date.today<=7 ? "list-group-item list-group-item-warning" : "list-group-item")} do
  .media
    -if tenant.avatar?
      .media-left=image_tag tenant.avatar.url(:thumb), alt: tenant.user.email, class: 'media-object'
    .media-body
      %h5.media-heading
        =tenant.resident.person.lastname
        =tenant.resident.person.firstname
        =tenant.resident.person.secondname
      %span.text-muted
        %i=tenant.check_date_move
    .media-right
      %ul.list-inline
        .toright.list-label.warning
          %li{data: {toggle: "tooltip"}, title: "Корпус"}
            =tenant.historymoves.last.room.building.numb
        .toright.list-label.primary
          %li{data: {toggle: "tooltip"}, title: "Квартира"}
            =tenant.historymoves.last.room.numb
        .toright.list-label.success
          %li{data: {toggle: "tooltip"}, title: "Тип жильца"}
            =tenant.check_resident_type
        -if tenant.resident_type == "Student"
          .toright.list-label.danger
            %li{data: {toggle: "tooltip"}, title: "Факультет"}
              =Student::FACULTIES[tenant.resident.faculty][0][0]
