.page-header
  %h3
    =@employee.person.lastname
    =@employee.person.firstname
    =@employee.person.secondname
-if @current_user.try(:is_admin?)
  =render 'menu'

.row
  .col-md-4
    .well
      -if @employee.avatar?
        =image_tag @employee.avatar.url(:large), alt: @employee.person.firstname, class: 'img-responsive'
      =link_to nil, class: 'btn btn-primary btn-block btn-avatar' do
        =fa_icon 'edit'
        Изменить фотографию
  .col-md-8
    .well
      %blockquote Информация о сотруднике

      -if @employee.person.birthday
        Дата рождения:
        %i.text-muted
          =l(@employee.person.birthday, format: :long)
          =surround ?(,?) do
            =@employee.person.human_age
