= form_for @person, data: {url: stt_people_path()} do |f|
  = error_messages_for @person
  .row
    .col-md-4
      .form-group
        = label_tag('select_type') do
          Выберите тип жителя
        .input-group
          =select_tenant_type()
#tenant_type_fields
