.nested-fields
  .panel.panel-default
    .panel-body
      .row
        =hidden_field_tag :formname, :addroom
        =f.hidden_field :id
        .col-md-12
          .form-group
            =f.label :room_id
            =f.select :room_id, options_for_select(Room.all.map{|r| [r.numb, r.id]}), {},
              title: "Ничего не выбрано", class: 'form-control selectpicker'
              -# data: {value: ((tmp = params.try('[]', :person).try('[]', :try('[]', :tenant).try('[]', :historymove).try('[]', :room_id)).nil? ? f.object.room_id : tmp)}
      .row
        .col-md-6
          .form-group
            = f.label :datein
            .input-group.date.datepicker
              =f.text_field :datein, class: 'form-control', data: {value: (l(f.object.datein) if !f.object.datein.nil?)}
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
        .col-md-6
          .form-group
            =f.label :dateout
            .input-group.date.datepicker
              =f.text_field :dateout, class: 'form-control'
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar
      .row
        .col-md-12
          .form-group
            =f.label :note
            =f.text_area :note, class: 'form-control'
      .form-group
        =link_to_remove_association "Удалить", f,class: 'btn btn-danger'
