.page-header
  %h1 Добавление белья
= form_for @person do |s|
  =error_messages_for(@person)
  =s.fields_for :student do |g|
    =g.fields_for :tenant do |f|
      = f.fields_for :linenattenants do |t|
        =render 'linenattenant_fields', :f => t
      .links
        =link_to_add_association "Добавить", f, :linenattenants, class: 'btn btn-success'
  .form-actions
    = s.submit nil, class: 'btn btn-primary'
