.page-header
  %h1 Новый
-if @person.get_person.nil?
  =render 'form'
-elsif @person.get_person.tenant.resident_type == "Student"
  =render 'student_tenant'
-elsif @person.get_person.tenant.resident_type == "Workman"
  =render 'workman_tenant'
-elsif @person.get_person.tenant.resident_type == "Guest"
  =render 'guest_tenant'
-elsif @person.get_person.tenant.resident_type == "Relative"
  =render 'relative_tenant'
