.btn-toolbar
  =link_to edit_visitor_path(@visitor), class: 'btn btn-primary' do
    =fa_icon 'edit'
    Редактировать
  =link_to @visitor, data: {method: :delete, confirm: t('helpers.sure')}, class: 'btn btn-danger' do
    =fa_icon 'trash'
    Удалить
