.page-header
  %h1 Посетители
.btn-toolbar
  =link_to new_visitor_path, class: 'btn btn-primary' do
    =fa_icon 'plus'
    Добавить
.list-group
  -@visitors.each do |visitor|
    =link_to visitor, class: 'list-group-item' do
      .row
        .col-md-8
          =visitor.person.lastname
          .text-muted
            =visitor.person.firstname
=paginate @visitors
