.page-header
  %h1
    =@linen.name
=render 'menu'

.row
  .col-md-4
    =Linen.human_attribute_name(:quantity)
    = @linen.quantity
.row
  .col-md-4
    =Linen.human_attribute_name(:size)
    = @linen.size
.row
  .col-md-4
    =Linen.human_attribute_name(:note)
    = @linen.note
