.page-header
  %h1 Пользователи
-if @current_user.try(:is_admin?)
  .btn-toolbar
    =link_to new_user_path, class: 'btn btn-primary' do
      =fa_icon 'plus'
      Добавить
-if @users.blank?
  .alert.alert-info Пользователи не найдены
-else
  .list-group
    -@users.each do |user|
      =link_to user, class: 'list-group-item' do
        =user.email
        %i.text-muted
          =surround ?(, ?) do
            =user.role_name
  =paginate @users
