.page-header
  %h1 Пользователи
.btn-toolbar
  =link_to new_user_path, class: 'btn btn-primary' do
    =fa_icon 'plus'
    Добавить
.list-group
  -@users.each do |user|
    =link_to user, class: 'list-group-item' do
      =user.email
=paginate @users
