.page-header
  %h1 Заявки
.btn-toolbar
  =link_to new_request_path, class: 'btn btn-primary' do
    =fa_icon 'plus'
    Добавить
.list-group
  -@requests.each do |request|
    =link_to request, class: 'list-group-item' do
      =request.employee.person.lastname
      .text-muted
        =request.content
=paginate @requests
