.page-header
  %h3 Документы
-if @current_user.try(:is_admin?)
  .btn-toolbar
    =link_to new_document_path, class: 'btn btn-primary' do
      =fa_icon 'plus'
      Добавить
-if @documents.blank?
  .alert.alert-info Документов не найдено
-else
  -@documents.each do |document|
    .panel.panel-default
      .panel-heading
        .pull-right
          %i.text-muted
            =l(document.created_at, format: :long)
          -if @current_user.try(:is_admin?)
            =link_to edit_document_path(document), class: 'text-danger' do
              %span.glyphicon.glyphicon-edit

        -if document.post_id.present?
          =link_to document.post.title, document.post
        -else
          =document.title
        .clearfix
      .panel-body
        -if document.doc.present?
          =link_to_attachment document
  =paginate @documents
