.page-header
  %h3
    =@building.name
  %i.text-muted
    %h5
      =@building.address
      Москва, 115478
      =surround ?(,?) do
        корпус
        =@building.numb if @building.numb
-if @current_user.try(:is_admin?)
  =render 'menu'

.row
  .col-md-6
    .well
      %blockquote Информация о корпусе
      Тип корпуса:
      %i.text-muted
        =Building::TYPEBUILDS[@building.typebuild.first][0]
      %br
      Число этажей:
      %i.text-muted
        =@building.floor
      %br
      Состояние:
      %i.text-muted
        =Building::STATES[@building.state][0]
      %br
      Количество квартир:
      %i.text-muted
        =@building.quantityroom
      %br
      Количество свободных мест:
      %i.text-muted
        24
      %br
      Примечание:
      %br
      %i.text-muted
        =@building.note
  .col-md-6
    %h4 Сотрудники
    %hr
    .list-group
      -@building.employees.each do |employee|
        =render 'employees/employee', employee: employee
%h4 Фотогалерея
%hr
.row
  -@building.pictures.each do |picture|
    .col-md-3
      %a{:href => picture.image.url}
        =image_tag(picture.image.url(:medium), alt: picture.title, class: 'img-responsive')
-# -if @building.rooms.any?
-#   %h3=Building.human_attribute_name(:rooms)
-#   .list-group
-#     -@building.rooms.each do |room|
-#       =link_to room, class: 'list-group-item' do
-#         =room.numb
-#         .text-muted
-#           =room.building_id
-# -else
-#   .alert.alert-info Квартиры не найдены
