.nested-fields
  .panel.panel-default
    .panel-body
      .row
        =hidden_field_tag :formname, :add
        =f.hidden_field :id
        .col-md-8
          .form-group
            = f.label :furniture_id
            = f.select :furniture_id, Furniture.where(building_id: @room.building_id).ordering.map{|c| [c.name, c.id]}, {}, class: 'form-control'
        .col-md-2
          .form-group
            = f.label :quantity
            = f.text_field :quantity, class: 'form-control'
        .col-md-2
          .form-group
            =link_to_remove_association "Удалить", f,class: 'btn btn-danger'
