.panel.panel-warning
  .panel-heading Примечание
  .panel-body
    .text-warning
      Квартира не укомплектована, необходимы:
    %ul.text-warning
      -@room.furnitureinrooms.each do |furnitureinroom|
        -if furnitureinroom.quantity < @room.tenants.count        
          -if furnitureinroom.furniture.name != 'Стол кухонный'
            %li
              =furnitureinroom.furniture.name
