.page-header
  %h1 Редактирование мебели в квартире
= form_for @room do |f|
  =error_messages_for(@room)
  = f.fields_for :furnitureinrooms do |t|
    =render 'furnitureinroom_fields', :f => t

  .links
    =link_to_add_association "Добавить", f, :furnitureinrooms, class: 'btn btn-success'
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
