.page-header
  %h1 Квартиры
-if @current_user.try(:is_admin?)
  .btn-toolbar
    =link_to new_room_path, class: 'btn btn-primary' do
      =fa_icon 'plus'
      Добавить
-if @rooms.blank?
  .alert.alert-info Квартир не найдено
-else
  .list-group
    -@rooms.each do |room|
      =link_to room, class: 'list-group-item' do
        =room.numb
        .text-muted
          =room.building_id
  =paginate @rooms
