.page-header
  %h1 Новости
-if @current_user.try(:is_admin?)
  .btn-toolbar
    =link_to new_post_path, class: 'btn btn-primary' do
      =fa_icon 'plus'
      Добавить
-if @posts.blank?
  .alert.alert-info Новостей не найдено
-else
  -@posts.each do |post|
    .panel.panel-default
      .panel-heading
        .pull-right
          %i.text-muted
            =l(post.created_at, format: :long)
          -# -if @current_user.try(:is_admin?)
          -#   =link_to edit_post_path(post), class: 'text-danger' do
          -#     %span.glyphicon.glyphicon-edit
        =link_to post.title, post
        .clearfix
      .panel-body
        -if post.body.present?
          =post.body

      -if post.document.present?
        .panel-footer
          =link_to_attachment post.document
  =paginate @posts
  -# -if post.attachments.present?
  -#   %ul.list-inline
  -#     -post.attachments.each do |attachment|
  -#       %li
  -#         =link_to_attachment attachment
