.page-header
  %h3 Новости
-if @current_user.try(:is_admin?)
  .btn-toolbar
    =link_to new_post_path, class: 'btn btn-primary' do
      =fa_icon 'plus'
      Добавить новость
= form_tag(posts_path, :method => "get") do
  .form-group
    .input-group
      = text_field_tag :search, params[:search], placeholder: "Поиск", class: 'form-control'
      .input-group-btn
        = submit_tag 'Поиск', class: 'btn btn-primary'
-if @posts.blank?
  .alert.alert-info Новостей не найдено
-else
  -@posts.each do |post|
    .panel.panel-default
      .panel-heading
        .pull-right
          %i.text-muted
            =l(post.created_at, format: :long)
          -# -if @current_user.try(:is_admin?)
          -#   =link_to edit_post_path(post), class: 'text-danger' do
          -#     %span.glyphicon.glyphicon-edit
        =link_to post.title, post
        .clearfix
      .panel-body
        -if post.body.present?
          =post.body
        -if post.pictures.present?
          -if post.pictures.count == 1
            %a{:href => post.pictures.last.image.url}
              =image_tag(post.pictures.last.image.url(:medium), alt: post.pictures.last.title, class: 'img-responsive')


      -if post.document.present?
        .panel-footer
          =link_to_attachment post.document
  =paginate @posts
