@media (min-width: 768px)
  .container
    padding-left: 235px

.page-header
  padding-bottom: 0
  margin-bottom: 6px
  margin-top: 33px
  border-bottom: 1px solid $text-muted-nav
.badge
  float: right
  margin-top: 3px
  background-color: $hover-bar
  color: $color-text
  margin-right: 10px
body
  background-color: $bg-color
  color: $color-text
hr
  border-color: $hover-bar
  margin-top: 6px
  margin-bottom: 6px
.form-actions
  margin-top: 5px

.pagination
  margin-top: 10px
  margin-bottom: 10px
.carousel
  width: 300px
.well
  background-color: #fcfdfd
.footer
  height: 30px
.toright
  float: right

.list-label
  display: inline-block
  padding: 4px
  min-width: 20px
  text-align: center
  font-weight: bold
  &.primary
    background-color: $brand-primary
    color: #fff
