@media (min-width: 768px)
  .container
    padding-left: 235px

.page-header
  padding-bottom: 0
  border-bottom: 1px solid $text-muted-nav
.badge
  float: right
  margin-top: 3px
  background-color: $hover-bar
  color: $color-text
  margin-right: 10px
body
  background-color: $bg-color
  color: $color-text
hr
  border-color: $hover-bar
.form-actions
  margin-top: 5px
  margin-bottom: 20px
.pagination
  margin-top: 10px
  margin-bottom: 10px
