/* make sidebar nav vertical */
@media (min-width: 768px)
  .sidebar-nav .navbar .navbar-collapse
    padding: 0
    max-height: none
  .sidebar-nav .navbar ul
    float: none
  .sidebar-nav .navbar ul:not
    display: block
  .sidebar-nav .navbar li
    float: none
    display: block
  .sidebar-nav .navbar li a
    padding-top: 12px
    padding-bottom: 12px
  .sidebar-nav .navbar
    width: 200px
    height: 100%
    position: fixed
    left: 0
    border-radius: 6px

.sidebar-nav .navbar
  background-color: #5a9a7c
  li a
    color: #f3faf7
    font-size: 18px
    line-height: 25.7167px
  .icon-bar
    background-color: #f3faf7
  .navbar-brand
    color: #f3faf7
    line-height: 25.7167px
