$brand-primary: #3b5f76
$brand-success: #367154
$brand-danger: #ab2010
$brand-warning: #f0ad4e
// #a42722
// #b72c26
// #cc312b
$font-family-sans-serif: 'Open Sans', sans-serif
$font-size-base: 16px
//цвет навбара
$text-muted-nav: #1a8679
//фон и текст в навбаре
$bg-color: #f3f8f8
//цвет текста
$color-text: #0a3530
//наведение в навбаре
$hover-bar: #5eaaa1
$tooltip-bg: darken($text-muted-nav, 15%)
$tooltip-color: $bg-color
$progress-bar-success-bg: lighten($brand-success, 10%)
$progress-bar-danger-bg: lighten($brand-danger, 10%)

@import bootstrap-sprockets
@import bootstrap
@import bootstrap-select
@import bootstrap-datetimepicker
@import font-awesome
@import fonts
@import main
@import navbar
@import welcome

.field_with_errors
  @extend .has-error

.alert-notice
  @extend .alert-success

.alert-alert
  @extend .alert-info

.btn-toolbar
  padding: $padding-large-vertical 0
  margin-bottom: 6px

.alert
  margin-top: 20px
