.sidebar-nav
  .navbar.navbar-default{:role => "navigation"}
    .navbar-header
      %button.navbar-toggle{"data-target" => ".sidebar-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Показать/скрыть меню
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %span.navbar-brand
        .hidden-xs
          =link_to root_path do
            = image_tag 'mephi_logo_small_white.png', alt: t('app.company.short_name')
        .visible-xs
          =link_to root_path do
            =t('app.name')
    .navbar-collapse.collapse.sidebar-navbar-collapse
      %ul.nav.navbar-nav
        - if @current_user.blank?
          %li
            =link_to login_path do
              = fa_icon 'sign-in'
              Войти
        -if @current_user
          %li
            -if @current_user.client
              -if @current_user.client_type == "Tenant"
                =link_to @current_user.client.resident.person do
                  =fa_icon 'home'
                  Личный кабинет
                  .mut
                    %i=@current_user.email
              -else
                =link_to @current_user.client.person do
                  =fa_icon 'home'
                  Личный кабинет
                  .mut
                    %i=@current_user.email
            -else
              =link_to root_path do
                =fa_icon 'home'
                Личный кабинет
                .mut
                  %i=@current_user.email
          -if @current_user.try(:is_admin?)
            %li
              =link_to users_path do
                =fa_icon 'th-list'
                Пользователи
          -if !@current_user.try(:is_tenant?)
            %li
              =link_to tenants_path do
                =fa_icon 'users'
                Жильцы
          %li
            =link_to employees_path do
              =fa_icon 'user'
              Сотрудники
          -if !@current_user.try(:is_matron?)
            %li
              =link_to visitors_path do
                =fa_icon 'coffee'
                Посетители
          -if @current_user.try(:is_admin?)
            %li
              =link_to buildings_path do
                =fa_icon 'building'
                Корпуса
          -else
            -if @current_user.try(:is_tenant?)
              %li
                -# =link_to @current_user.client.historymoves.last.room do
                -#   =fa_icon 'cubes'
                -#   Квартира
            -else
              %li
                =link_to rooms_path do
                  =fa_icon 'cubes'
                  Квартиры
          -if @current_user.try(:is_admin?) || @current_user.try(:is_commandant?)
            %li
              =link_to furnitures_path do
                =fa_icon 'bed'
                Мебель
          -if !@current_user.try(:is_commandant?) && !@current_user.try(:is_security?)
            %li
              =link_to linens_path do
                =fa_icon 'archive'
                Белье
          %li
            =link_to requests_path do
              =fa_icon 'send'
              Заявки
              -if @current_user.try(:is_tenant?)
                %span.badge
                  100
              -elsif @current_user.try(:is_admin?)
                %span.badge
                  =Request.where(status: 0).count
              -else
                -val = Request.where(employee: @current_user.client).where(status: 0).count
                -if val !=0
                  %span.badge
                    =val
          %li
            =link_to documents_path do
              =fa_icon 'send'
              Документы
          %li
            =link_to posts_path do
              =fa_icon 'send'
              Новости
          %li
            =link_to logout_path do
              = fa_icon 'sign-out'
              Выход
