.page-header
  %h1
    =@furniture.name
=render 'menu'

.row
  .col-md-4
    =Furniture.human_attribute_name(:quantity)
    = @furniture.quantity
.row
  .col-md-4
    =Furniture.human_attribute_name(:size)
    = @furniture.size
.row
  .col-md-4
    =Furniture.human_attribute_name(:note)
    = @furniture.note
